// Typography
$baseTextSize: 1.1rem;
$textSizeIncrement: 1.2;

$text-6 : $baseTextSize;
$text-5 : $text-6 * $textSizeIncrement;
$text-4 : $text-5 * $textSizeIncrement;
$text-3 : $text-4 * $textSizeIncrement;
$text-2 : $text-3 * $textSizeIncrement;
$text-1 : $text-2 * $textSizeIncrement;
