.icon {
	user-select: none;
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
	margin-right: .5rem;
	fill: black;
	transition: all .2s;
    //font-size: 40px;
	&:hover {
		fill: gray;
	}
}
